@import "../styles/base.scss";

.circle {
  height: 5vmin;
  width: 5vmin;
  border-radius: 50%;
  background-color: blue;
  transform: translate(calc(var(--x) * 1px - 50%), calc(var(--y) * 1px - 50%));

  &::before {
    content: attr(style);
    position: absolute;
    top: 100%;
    left: 0;
    margin-bottom: 0.25rem;
    color: white;
    font-family: monospace;
    background: #000;
    padding: 0.5rem;
    white-space: nowrap;
  }
}
